body {
	background-color: #F7F9FC;
	color : rgb(30,30,30);
font-family: 'Wix Madefor Display', sans-serif;
	font-weight: lighter;
	font-size: 16px;
}

h1, h2{
font-family: 'Secular One', sans-serif;
}

h1 {
	color: #575F7D;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 30px;
}

@media (max-width: 760px){
	.container p,body,h1,h2{
		width: 500px;
	}
}
@media (max-width: 500px){
	.total p,body,h1,h2{
		width: 400px;
	}
}

h2{
	color: #7ECE90;
	font-size: 24px;
}

a{
	text-decoration: none;
	color: #6B72E1;
	font-weight: bold;
}
a:hover{
	color: black;
}


.img-circle {
	border-radius: 50%;
	width: 100px;
}

.container {
	width: 700px;
	margin: 40px auto;
		text-align-last: center;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.justify {
	text-align: justify;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black
}

#intro p {
	margin-bottom: 30px;
}
